
<div class="row">
 
    <div class="large-6 medium-6 small-12 columns right" id="sekcja8">
        <div class="klocek5">
            <h1>Referencje</h1>
        </div>
    </div>
    <div class="large-6 medium-6 small-12 columns right" id="sekcja8">
        <div class="klocek7 referencje">
            <div class="slick">
                <div>
                    <a href="~/Content/Img/Referencje/referencje.pdf" target="_blank">
                        <img class="th" src="~/Content/Img/Referencje/AIUT.jpg" alt="AIUT.jpg" />
                    </a>
                </div>

                <div>
                    <a href="~/Content/Img/Referencje/referencje.pdf" target="_blank">
                        <img class="th" src="~/Content/Img/Referencje/BRUK-POL.jpg" alt="BRUK-POL.jpg" />
                    </a>
                </div>

                <div>
                    <a href="~/Content/Img/Referencje/referencje.pdf" target="_blank">
                        <img class="th" src="~/Content/Img/Referencje/GabrielaModels.jpg" alt="GabrielaModels.jpg" />
                    </a>
                </div>

                <div>
                    <a href="~/Content/Img/Referencje/referencje.pdf" target="_blank">
                        <img class="th" src="~/Content/Img/Referencje/HYDROGRUPA.jpg" alt="HYDROGRUPA" />
                    </a>
                </div>

                <div>
                    <a href="~/Content/Img/Referencje/referencje.pdf" target="_blank">
                        <img class="th" src="~/Content/Img/Referencje/INGOT.jpg" alt="INGOT" />
                    </a>
                </div>

                <div>
                    <a href="~/Content/Img/Referencje/referencje.pdf" target="_blank">
                        <img class="th" src="~/Content/Img/Referencje/LIPBUD.jpg" alt="LIPBUD" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="large-12 medium-12 small-12 columns" data-equalizer="">
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div style="height: 338px;" class="inklocek4" data-equalizer-watch="">
                    <h5>Produkcja</h5>
                    <p>
                        Produkujemy pawilony i kontenery: biurowe, sanitarne, socjalne, handlowe  mieszkalne całoroczne, technologiczne, kioski, portiernie,
                        stróżówki. Realizujemy każde zamówienie indywidualnie dbając o potrzeby naszych klientów. Kontenery przed wyjazdem do klienta są dokładnie testowane dlatego reklamacje zdarzają się niezwykle rzadko.
                    </p>
                </div>
            </div>
        </div>
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div style="height: 338px;" class="inklocek4" data-equalizer-watch="">
                    <h5>Sprzedaż</h5>
                    <p>
                        Długoterminowym relacje z firmami transportowymi determinują to, że dostarczamy pawilony oraz kontenery w dowolnej ilości w całej Polsce zawsze na czas i zawsze zgodnie z ustaleniami. Sprzedajemy zarówno moduły używane jak i całkiem nowe przygotowane pod specjalne zamówienie i projekt.
                    </p>
                </div>
            </div>
        </div>
        <!-- Nawigacja sekcja5_1-->
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div style="height: 338px;" class="inklocek4" data-equalizer-watch="">
                    <h5>Wynajem</h5>
                    <p>Wynajmujemy kontenery od wielu lat. Dobrze znamy ten rynek i stworzyliśmy ofertę która nie obciąża uczciwych klientów dodatkowymi kosztami. Preferujemy czyste reguły gry i długotrwałą współpracę. Oferujemy możliwość odkupienia modułu. Bezpieczeństwo i rozwój Twojego biznesu to dla nas priorytet.</p>
                </div>
            </div>
        </div>
        <div data-magellan-destination="kontakt"></div>
    </div>
</div>
<a name="kontakt"></a>