<div class="row">
    <div class="large-6 medium-6 small-12 columns" id="sekcja6">
        <div class="klocek5">
            <h1>Portiernia Stróżówka</h1>
        </div>
    </div>
    <div class="large-6 medium-6 small-12 columns">
        <div class="klocek7 swiatlo">
            <div class="galleria">
                <a href="http://galeria.abrsteel.pl/strozowka2,5NOWA/strozowka1.jpg" data-lightbox="sekcja6">
                    <img src="http://galeria.abrsteel.pl/strozowka2,5NOWA/strozowka1.jpg" />
                </a>
                <a href="~/Content/Img/Strozowka.jpg" data-lightbox="sekcja6">
                    <img src="~/Content/Img/Strozowka.jpg" />
                </a>
            </div>
        </div>
    </div>
    <div class="large-12 medium-12 small-12 columns" data-equalizer>
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div class="inklocek4" data-equalizer-watch>
                    <h5>Zastosowanie</h5>
                    <p>Segment tych pawilonów produkowany jest z myślą o portierniach, stróżówkach i oddziałach ochrony pilnujących placów, terenów budowy oraz kontrolujących wjazdy i wyjazdy np. z firm, parkingów. Doskonale sprawdzają się tam gdzie liczy się maksymalne wykorzystanie niewielkiej przestrzeni</p>
                </div>
            </div>
        </div>
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div class="inklocek4" data-equalizer-watch>
                    <h5>Cechy</h5>
                    <p>
                        W zależności od twoich potrzeb przygotowaliśmy różne projekty.
                        Bez względu na to który wybierzesz, gwarantujemy solidną długoterminową współpracę, rzetelne wykonanie i indywidualne podejście do współpracy.
                    </p>
                </div>
            </div>
        </div>
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div class="inklocek4" data-equalizer-watch>
                    <h5>Zalety</h5>
                    <p>Konstrukcja oraz wyposażenie naszych kontenerów i pawilonów ukierunkowane jest na bezpieczeństwo Twojego biznesu i budowanie nowoczesnego wizerunku. Stawiamy na szczerość i otwartość na Twoje potrzeby.</p>
                </div>
            </div>
        </div>
    </div>
        <div id="ModalRM11" class="reveal-modal alle" data-reveal>
            <div class="zamknij">
                <a class="close-reveal-modal">&#215;</a>
            </div>
            @RenderPage("~/Modalne/KontenerTechnologiczny.cshtml")
            <div class="zamknij2">
                <a class="close-reveal-modal">Zamknij ofertę</a>
            </div>
        </div>
    <div id="ModalRM13" class="reveal-modal alle" data-reveal>
        <div class="zamknij">
            <a class="close-reveal-modal">&#215;</a>
        </div>
        @RenderPage("~/Modalne/strozowka25.cshtml")
        <div class="zamknij2">
            <a class="close-reveal-modal">Zamknij ofertę</a>
        </div>
    </div>
        <div id="ModalRM12" class="reveal-modal alle" data-reveal>
            <div class="zamknij">
                <a class="close-reveal-modal">&#215;</a>
            </div>
            @RenderPage("~/Modalne/Strozowka.cshtml")
            <div class="zamknij2">
                <a class="close-reveal-modal">Zamknij ofertę</a>
            </div>
        </div>
        <div class="large-6 medium-12 small-12 columns">
            <div class="klocek11">
                <div class="ribbon-wrapper">
                    <div class="ribbon-red">
                        NOWY
                    </div>
                </div>
                <a href="#" data-reveal-id="ModalRM12">

                    <div class="RM12  medium-8 columns">
                        <div class="naglowek">
                            Stróżówka
                        </div>

                    </div>
                </a>
                <div class="infoKlocek11  medium-4 columns">
                    <ul>
                        <li>
                            <a href="#" data-reveal-id="ModalRM12">
                                <span>CENA</span> <br /> 6 800 NETTO <br /> 200 NETTO/miesiąc
                            </a>
                        </li>
                        <li>
                            <a class="wymiary" href="#" data-reveal-id="ModalRM12">
                                <span>WYMIARY </span><br /><span data-tooltip aria-haspopup="true" class="has-tip" title="długość">1500</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="szerokość">1500</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="wysokość">2860</span><br />
                            </a>
                        </li>
                        <li class="wiecej">
                            <a class="button3" href="#" data-reveal-id="ModalRM12">Więcej informacji</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="large-6 medium-12 small-12 columns">
        <div class="klocek11">
            <div class="ribbon-wrapper">
                <div class="ribbon-red">
                    NOWY
                </div>
            </div>
            <a href="#" data-reveal-id="ModalRM13">
                <div class="RM13  medium-8 columns">

                    <div class="naglowek">
                        Portiernia
                    </div>

                </div>
            </a>
            <div class="infoKlocek11  medium-4 columns">
                <ul>
                    <li>
                        <a href="#" data-reveal-id="ModalRM13">
                            <span>CENA</span> <br /> 7 800 NETTO <br /> 200 NETTO/miesiąc
                        </a>
                    </li>
                    <li>
                        <a class="wymiary" href="#" data-reveal-id="ModalRM13">
                            <span>WYMIARY </span><br /><span data-tooltip aria-haspopup="true" class="has-tip" title="długość">2410</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="szerokość">2410</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="wysokość">2770</span><br />
                        </a>
                    </li>
                    <li class="wiecej">
                        <a class="button3" href="#" data-reveal-id="ModalRM13">Więcej informacji</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div class="large-6 medium-12 small-12 columns">
            <div class="klocek11 ">
                <div class="ribbon-wrapper">
                    <div class="ribbon-red">
                        NOWY
                    </div>
                </div>
                <a href="#" data-reveal-id="ModalRM11">
                    <div class="RM11 medium-8 columns">

                        <div class="naglowek">
                            Kontener Technologiczny
                        </div>

                    </div>
                </a>
                <!-- Nawigacja sekcja6_1-->
                
                <div class="infoKlocek11  medium-4 columns">
                    <ul>
                        <li>
                            <a href="#" data-reveal-id="ModalRM11">
                                <span>CENA</span> <br /> 22 100 NETTO <br /> 700 NETTO/miesiąc
                            </a>
                        </li>
                        <li>
                            <a class="wymiary" href="#" data-reveal-id="ModalRM11">
                                <span>WYMIARY </span><br /><span data-tooltip aria-haspopup="true" class="has-tip" title="długość">6010</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="szerokość">2500</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="wysokość">2760</span><br />
                            </a>
                        </li>
                        <li class="wiecej">
                            <a class="button3" href="#" data-reveal-id="ModalRM11">Więcej informacji</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    <div class="large-6 medium-12 small-12 columns">
        <div class="klocek11">
            <div class="ribbon-wrapper">
                <div class="ribbon-red">
                    ZAPROJEKTUJ
                </div>
            </div>
            <a href="#kontakt">
                <div class="PROJEKT  medium-8 columns">

                    <div class="naglowek">
                        PRZEŚLIJ PROJEKT
                    </div>

                </div>
            </a>
            <!-- Nawigacja sekcja6_1-->
            <h3 data-magellan-destination="referencje"></h3>
            <div class="infoKlocek11  medium-4 columns">
                <ul>
                    <li>
                        <a class="wymiary" href="#kontakt">
                            
                            <span>ZAPROJEKTUJ</span> <br />KONTENER
                        </a>
                    </li>
                    <li>
                        <a href="#kontakt" >
                            
                            <span>SKORZYSTAJ</span> <br /> Z NASZEGO <br />DOŚWIADCZENIA
                        </a>
                    </li>
                    <li class="wiecej">
                        <a class="button3" href="#kontakt">WYCENA</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
<!-- Nawigacja sekcja6_2-->
<a name="referencje"></a>
