<div class="row">
    <div class="large-6 medium-6 small-12 columns right" id="sekcja5">
        <div class="klocek5">

            <h1>Kontener hakowy</h1>

        </div>
    </div>
    <div class="large-6 medium-6 small-12 columns left">
        <div class="klocek7 swiatlo">
            <div class="galleria">
                <a href="~/Content/Img/Hakowiec/hakowiec1.jpg" data-lightbox="sekcja5">
                    <img src="~/Content/Img/Hakowiec/hakowiec1.jpg" />
                </a>
                <a href="~/Content/Img/Hakowiec/hakowiec2.jpg" data-lightbox="sekcja5">
                    <img src="~/Content/Img/Hakowiec/hakowiec2.jpg" />
                </a>
                <a href="~/Content/Img/Hakowiec/hakowiec3.jpg" data-lightbox="sekcja5">
                    <img src="~/Content/Img/Hakowiec/hakowiec3.jpg" />
                </a>
            </div>
            </div>
    </div>
    <div class="large-12 medium-12 small-12 columns" data-equalizer>
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div class="inklocek4" data-equalizer-watch>
                    <h5>Zastosowanie</h5>
                    <p>Transport w biznesie komunalnym, złomowym i dynamicznie rozwijającym się sektorze recyklingu opiera się na solidnie wykonanych kontenerach, łatwym rozładunku / załadunku oraz bezpieczeństwie. Kontenery hakowe ABR (inaczej „hakowce”) są odpowiedzią na wyraźne potrzeby współczesnych przedsiębiorców.</p>
                </div>
            </div>
        </div>
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div class="inklocek4" data-equalizer-watch>
                    <h5>Doświadczenie</h5>
                    <p>Moduły wąsko wyspecjalizowane w kierunku transportu są naszą domeną od wielu lat. Doświadczenie, bezpieczeństwo, proste i praktyczne reguły biznesu.</p>
                </div>
            </div>
        </div>
        <!-- Nawigacja sekcja5_1-->

        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div class="inklocek4" data-equalizer-watch>
                    <h5>Kompleksowa usługa</h5>
                    <p>Realizujemy indywidualne zamówienia według wymagań klienta tj. kolor kontenera, opis nazwą firmy, logo. Na życzenie klienta podstawiamy kontener w dowolne miejsce w Polsce. Dysponujemy zapleczem technicznym i doświadczonym zespołem.</p>
                </div>
                <h3 data-magellan-destination="portiernia_strozowka"></h3>
            </div>
        </div>
    </div>
    </div>
<a name="portiernia_strozowka"></a>
