<div class="row">
    <div class="large-6 medium-6 small-12 columns" id="sekcja4">
        <div class="klocek5">
            <h1>KONTENER BUDOWLANY</h1>
        </div>
    </div>
    <div class="large-6 medium-6 small-12 columns ">
        <div class="klocek7 swiatlo">
            <div class="galleria">
                <a href="~/Content/Img/Budowlane/27-07-2015/male/kontener_budowlany_00169.jpg" data-lightbox="sekcja4">
                    <img src="~/Content/Img/Budowlane/27-07-2015/male/kontener_budowlany_00169.jpg" />
                </a>
                <a href="~/Content/Img/Budowlane/27-07-2015/male/kontener_budowlany_00264.jpg" data-lightbox="sekcja4">
                    <img src="~/Content/Img/Budowlane/27-07-2015/male/kontener_budowlany_00264.jpg" />
                </a>

                <a href="~/Content/Img/Budowlane/Budowlane2.jpg" data-lightbox="sekcja4">
                    <img src="~/Content/Img/Budowlane/Budowlane2.jpg" />
                </a>

            </div>
        </div>
    </div>
    <div class="large-12 medium-12 small-12 columns" data-equalizer>
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div class="inklocek4" data-equalizer-watch>
                    <h5>Zastosowanie</h5>
                    <p>Współczesna architektura modułowa tworzy nowe ciekawe możliwości w szeroko pojętej branży budowlanej. Branży w której małe, średnie firmy minimalizują ryzyko przy maksymalizacji wydajności. Wychodząc naprzeciw przedsiębiorcą przygotowaliśmy atrakcyjną ofertę wynajmu która realizuje te wartości.</p>
                </div>
            </div>
        </div>
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div class="inklocek4" data-equalizer-watch>
                    <h5>Cechy</h5>
                    <p>Kontenery budowlane ABR to między innymi wzmocniona konstrukcja, ergonomia w połączeniu z niską ceną zakupu oraz wynajmu. Nowoczesne i solidne wykonanie naszych kontenerów sprawia, że koszty eksploatacji są o wiele niższe w porównaniu z konkurencyjnymi rozwiązaniami.</p>
                </div>
            </div>
        </div>
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div class="inklocek4" data-equalizer-watch>
                    <h5>Zalety</h5>
                    <p>Wielokrotne piętrowanie tworzy koncepcję efektywniejszego wykorzystania ograniczonej przestrzeni co w bezpośredni sposób przekłada się na wydajność biznesu. Przedsiębiorcy korzystający z niewielkich rozmiarów, niskich kosztów i niesamowitej mobilności realizują zlecenia szybko i sprawnie.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="large-6 medium-12 small-12 columns">
        <div class="klocek11">
            <div class="ribbon-wrapper">
                <div class="ribbon-red ribbon-yellow">
                    UŻYWANY
                </div>
            </div>
            <a href="#" data-reveal-id="ModalKB11">
                <div class="KB11  medium-8 columns">

                    <div class="naglowek">
                        Kontener po renowacji
                    </div>

                </div>
            </a>
            <div class="infoKlocek11  medium-4 columns">

                <ul>
                    <li>
                        <a href="#" data-reveal-id="ModalKB11">
                            <span>CENA</span> <br /> 10 500 NETTO<br /> 350 NETTO/miesiąc
                        </a>
                    </li>
                    <li>
                        <a class="wymiary" href="#" data-reveal-id="ModalKB11">
                            <span>WYMIARY </span><br /><span data-tooltip aria-haspopup="true" class="has-tip" title="długość">6010</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="szerokość">2410</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="wysokość">2860</span><br />
                        </a>
                    </li>
                    <li class="wiecej">
                        <a class="button3" href="#" data-reveal-id="ModalKB11">Więcej informacji</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="large-6 medium-12 small-12 columns">
        <div class="klocek11">
            <div class="ribbon-wrapper">
                <div class="ribbon-red">
                    NOWY
                </div>
            </div>
            <a href="#" data-reveal-id="ModalKB12">
                <div class="KB12  medium-8 columns">

                    <div class="naglowek">
                        KONTENER STANDARDOWY
                    </div>

                </div>
            </a>
            <!-- Nawigacja sekcja4_1-->
            <h3 data-magellan-destination="hakowy"></h3>
            <div class="infoKlocek11  medium-4 columns">
                <ul>
                    <li>
                        <a href="#" data-reveal-id="ModalKB12">
                            <span>CENA</span> <br /> 13 500 NETTO <br /> 350 NETTO/miesiąc
                        </a>
                    </li>
                    <li>
                        <a class="wymiary" href="#" data-reveal-id="ModalKB12">
                            <span>WYMIARY </span><br /> <span data-tooltip aria-haspopup="true" class="has-tip" title="długość">6010</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="szerokość">2410</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="wysokość">2860</span><br />
                        </a>
                    </li>
                    <li class="wiecej">
                        <a class="button3" href="#" data-reveal-id="ModalKB12">Więcej informacji</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="ModalKB11" class="reveal-modal alle" data-reveal>
        <div class="zamknij">
            <a class="close-reveal-modal">&#215;</a>
        </div>
        @RenderPage("~/Modalne/KontenerBudowlanyNowy.cshtml")
        <div class="zamknij2">
            <a class="close-reveal-modal">Zamknij ofertę</a>
        </div>
    </div>
    <div id="ModalKB12" class="reveal-modal alle" data-reveal>
            <div class="zamknij">
                <a class="close-reveal-modal">&#215;</a>
            </div>
            @RenderPage("~/Modalne/KontenerBudowlanyKonsteel.cshtml")
        <div class="zamknij2">
            <a class="close-reveal-modal">Zamknij ofertę</a>
        </div>
        </div>
        

    </div>
<!-- Nawigacja sekcja4_2-->
<a name="hakowy"></a>

