<div class="row">
    <h3 data-magellan-destination="home"></h3>
    <a name="home"></a>
    <a href="#usluga">
        <div class="large-6 medium-12 small-12 columns">
            <div class="usluga swiatlo">
                <div class="naglowek">Pawilon handlowy</div>

            </div>
        </div>
    </a>
    <a href="#kontakt">
        <div class="large-3 medium-6 small-12 columns">
            <div class="kafel">

                <div class="box-text">
                    <ul class="rslides">
                        <li>
                            <h1>Pawilony / Kontenery</h1>
                            <h2>Usługi z zakresu zabudowy kontenerowej</h2>
                        </li>
                        <li>
                            <h1>Nowoczesne pawilony usługowe</h1>
                            <h2>sprzedaż - wynajem</h2>
                        </li>
                        <li>
                            <h1>Zaprezentuj swój projekt</h1>
                            <h2>skorzystaj z naszego doświadczenia</h2>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </a>
    <a href="#magazynowe">
        <div class="large-3 medium-6 small-12 columns">
            <div class="socjalne  swiatlo">
                <div class="naglowek">Kontener Magazynowy Kontener Morski</div>
            </div>
        </div>
    </a>
    <a href="#socjalne">

        <div class="large-3 medium-6 small-12 columns">
            <div class="budowlane swiatlo">
                <div class="naglowek">KONTENER BUDOWLANY</div>

            </div>
        </div>
    </a>
    <a href="#hakowy">
        <div class="large-3 medium-6 small-12 columns">
            <div class="hakowiec swiatlo">
                <div class="naglowek">Kontener hakowy</div>
            </div>
        </div>
    </a>
    <a href="#portiernia_strozowka">

        <div class="large-3 medium-6 small-12 columns">
            <div class="rozwiazniamodul swiatlo">
                <div class="naglowek">Portiernia stróżówka</div>

            </div>
        </div>
    </a>
    <!-- Nawigacja sekcja1_1-->
    <h3 data-magellan-destination="usluga"></h3>

    <div class="large-3 medium-6 small-12 columns">
        <div class="kontaktowy">
                <div class="box-text">
                    <ul>
                        <li><span>Dział Sprzedaży</span></li>
                        <li><a href="tel:+48534460464">+48 534 460 464</a></li>
                        <li><a href="tel:+48730430630">+48 730 430 630</a></li>
                        <li><a href="tel:+48507155774">+48 507 155 774</a></li>
                        <li><a href="mailto:biuro@abrkontenery.pl">biuro@abrkontenery.pl</a></li>
                    </ul>
                </div>
        </div>
    </div>
</div>
<!-- Nawigacja sekcja1_2-->
<a name="usluga"></a>
