<div class="ogloszenie">
    <div class="row">
        <h1 class="large-12 columns">
            PAWILON USŁUGOWY wraz z wyposażeniem - UŻYWANY STAN IDEALNY
        </h1>
        <div class="large-5 columns button">
            Sprzedaż -  37 000 zł
        </div>
        <div class="large-5 columns button">
            Wynajem -  1 400 zł / miesiąc
        </div>
    </div>

    <hr />

    <h3>Wyposażenie w cenie</h3>

    <br />

    <div class="row">
        <div class="large-6 columns">
            <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand ">Drzwi wewnętrzne</a>
        </div>
        <div class="large-6 columns">
            <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand">Drzwi zewnętrzne</a>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand">Witryna</a>
        </div>
        <div class="large-6 columns">
            <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand">Okna (sztuk 2)</a>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand">Specjalistyczną ladę podawczą</a>
        </div>
        <div class="large-6 columns">
            <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand">Oświetlenie każdego pomieszczenia</a>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand">Węzeł sanitarny - szafka umywalka</a>
        </div>
        <div class="large-6 columns">
            <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand">Pomieszczenie WC wraz z wyposażeniem</a>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand">Węentylator synchronizowany z włącznikiem światła</a>
        </div>
        <div class="large-6 columns">
            <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand">Boiler elektryczny 60l</a>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand">Zlewozmywak nierdzewny, dwukomorowy</a>
        </div>
        <div class="large-6 columns">
            <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand">Wmontowane ścianki działowe</a>
        </div>
    </div>
        <div class="large-8 columns">
            <hr>
            <h3>Informacje techniczne</h3>
            <br />
            <div class="opis">

                <h4>KONSTRUKCJA</h4>
                <p>
                    Ramowa, spawana, wykonana z zimnogiętych profili stalowych. Dodatkowo pokyta farbą antykorozyjną oraz emalią nawierzchniową.
                </p>
                <h4>PODŁOGA</h4>
                <p>
                    Wykonana jest z profilu zimno-giętego. Wełna mineralna o grubości 100 mm pełni rolę izolacji termicznej. Dodatkowo paraizolacja: folia PE, wykładzina PCV.
                </p>
                <h4>STROPODACH</h4>
                <p>
                    Sufit wykonany, paraizolacja: folia PE, izolacja termiczna: wełna mineralna. Wodoodporna płyta OSB + rynny wewnętrzne PCV.
                </p>
                <h4>ŚCIANY ZEWNĘTRZNE</h4>
                <p>
                    Płyta warstwowa ze rdzeniem styropianowym o gr. 100 mm, okładzina z blachy stalowej, ocynkowanej, lakierowanej farbami poliestrowym.
                </p>
                <h4>INSTALACJA ELEKTRYCZNA</h4>
                <p>
                    Przewody prowadzone natynkowo w korytkach kablowych, tablica elektryczna z wyposażeniem, oświetlenie, gniazda wtykowe ogólne.
                </p>
                <h4>DRZWI I OKNA</h4>
                <p>
                    Drzwi wymiar 900x2100mm 2 szt, witryna okienna z oknem podawczym przesuwnym 1100x2500mm.
                </p>
                <br />
            </div>
            <h3>Wymiary</h3>
            <table>
                <tr>
                    <th>Kontener</th>
                    <th>Zewnętrzne</th>
                    <th>Wewnętrzne</th>
                </tr>
                <tr>
                    <td>Długość </td>
                    <td>6 060 mm</td>
                    <td>5 960 mm</td>
                </tr>
                <tr>
                    <td>Szerokość </td>
                    <td>2 440 mm</td>
                    <td>2 340 mm</td>
                </tr>
                <tr>
                    <td>Wysokość </td>
                    <td>2 860 mm</td>
                    <td>2 760 mm</td>
                </tr>
                <tr>
                    <th>Drzwi wejściowe</th>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <td>Szerokość </td>
                    <td colspan="2">790 mm</td>
                </tr>
                <tr>
                    <td>Wysokość </td>
                    <td colspan="2">2 045 mm</td>
                </tr>
                <tr>
                    <th>Witryna</th>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <td>Szerokość </td>

                    <td colspan="2">890 mm</td>

                </tr>
                <tr>
                    <td>Wysokość </td>

                    <td colspan="2">2185 mm</td>
                </tr>
            </table>
        </div>

        <div class="large-4 columns">
            <hr>

            <div class="row">
                <h3>Realizacje</h3>
                <br />
                <div class="large-12 columns" style="padding:0px;">
                    <a class="th" href="http://abrkontenery.pl/#usluga">
                        <img src="http://galeria.abrsteel.pl/SZABLONY/img/anigif.gif" class="img-thumbnail">
                    </a>
                </div>
                <div class="large-6 columns" style="padding:0px;">
                    <a class="th" href="http://galeria.abrsteel.pl/SZABLONY/img/pawilon_budka_z_lodami1.jpg" target="_blank">
                        <img src="http://galeria.abrsteel.pl/SZABLONY/img/small/pawilon_budka_z_lodami1.jpg" class="img-thumbnail">
                    </a>
                </div>
                <div class="large-6 columns" style="padding:0px;">
                    <a class="th" href="http://galeria.abrsteel.pl/SZABLONY/img/pawilon_budka_z_lodami2.jpg" target="_blank">
                        <img src="http://galeria.abrsteel.pl/SZABLONY/img/small/pawilon_budka_z_lodami2.jpg" class="img-thumbnail">
                    </a>
                </div>
                <div class="large-6 columns" style="padding:0px;">
                    <a class="th" href="http://galeria.abrsteel.pl/SZABLONY/img/pawilon_budka_z_lodami3.jpg" target="_blank">
                        <img src="http://galeria.abrsteel.pl/SZABLONY/img/small/pawilon_budka_z_lodami3.jpg" class="img-thumbnail">
                    </a>
                </div>

                <div class="large-6 columns" style="padding:0px;">
                    <a class="th" href="http://galeria.abrsteel.pl/SZABLONY/img/pawilon_budka_z_lodami4.jpg" target="_blank">
                        <img src="http://galeria.abrsteel.pl/SZABLONY/img/small/pawilon_budka_z_lodami4.jpg" class="img-thumbnail">
                    </a>
                </div>
            </div>
            <hr/>
            <h3>Szkic</h3>
            <br/>
            <a href="http://galeria.abrsteel.pl/SZABLONY/img/budka%20z%20lodami2.jpg" rel="nofollow">
                <img src="http://galeria.abrsteel.pl/SZABLONY/img/budka%20z%20lodami2.jpg">
            </a>
            <hr>
            <h3>Zapytaj o ofertę</h3>
            <br />
            <a href="tel:+48534460464"><p style="font-size:1.6em;text-align:center;width:100%"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/smartphone140.png" /><span style="font-size:0.9em;">+48 </span>534 460 464</p></a>
            <a href="tel:+48507155774"><p style="font-size:1.6em;text-align:center;width:100%"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/smartphone140.png" /><span style="font-size:0.9em;">+48 </span>507 155 774</p></a>
            <a href="mailto:biuro@abrkontenery.pl"><p style="font-size:1.2em;text-align:center;width:100%;"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/envelope68.png" />biuro@abrkontenery.pl</p></a>
            <br />
            <a href="http://abrkontenery.pl/#kontakt" class="button radius expand">Poproś o kontakt</a>

            <a href="http://abrkontenery.pl/#kontakt" class="button radius expand" style="margin-top:5px;">Prześlij nam swój projekt/szkic</a>

        </div>

        <hr>
        <div class="row">
            <div class="large-12 columns">
                <center>
                    <a target="_blank" href="http://www.abrkontenery.pl/#usluga" class="button small radius">Pawilony Handlowe</a>
                    <a target="_blank" href="http://www.abrkontenery.pl/#magazynowe" class="button small radius">Kontenery Magazynowe</a>
                    <a target="_blank" href="http://www.abrkontenery.pl/#socjalne" class="button small radius">Kontenery Budowlane</a>
                    <a target="_blank" href="http://www.abrkontenery.pl/#hakowy" class="button small radius">Kontenery Hakowe</a>
                    <a target="_blank" href="http://www.abrkontenery.pl/#portiernia_strozowka" class="button small radius">Portiernie</a>
                    <a target="_blank" href="http://www.abrkontenery.pl/#portiernia_strozowka" class="button small radius">Strożówki</a>
                </center>
            </div>

        </div>

        <hr>

        <div class="large-5 columns">
            <br />
            <a href="http://abrsteel.pl/programue">
                <img style="width:100%;" src="http://www.abrsteel.pl/Media/Default/Img/UE3_700.jpg" />
            </a>
        </div>
        <div class="large-2 columns">
            <a href="http://abrkontenery.pl">
                <img style="max-height:100px;display: block;
    				margin-left: auto;
    				margin-right: auto" src="http://www.abrkontenery.pl/Content/Img/abr_logo2.png" />
            </a>
        </div>
        <div class="large-5 columns kontakt">
            <p>
                ABR SP. Z O.O. - CENTRALA MIKOŁÓW<br />
                <a href="http://abrkontenery.pl">www.abrkontenery.pl</a><br />
                43-190 Mikołów, ul. Dzieńdziela 40
                NIP: 635-173-49-72
                Regon: 240309585
                KRS: 0000164345
            </p>
        </div>
    </div>
