<div class="ogloszenie">
    <div class="row">
        <h1 class="large-12 columns">
            KONTENER MAGAZYNOWY - MORSKI 40' WERSJA HIGH CUBE<br />
        </h1>
        <div class="large-12 columns">
            <div class="large-5 columns button">
                Sprzeda¿ - <b> 6 800 z³</b>
            </div>
            <div class="large-5 columns button">
                Wynajem - <b> 400 z³ / miesi¹c</b>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="large-12 columns">
            <h4>Kontenery Dostêpne w ca³ej Polsce!</h4>
        </div>
    </div>
    <div class="large-8 columns">
        <hr>
        <h3>Informacje techniczne</h3>
        <br />
        <table>
            <tr>
                <td>Rodzaj</td>
                <td>Uniwersalne Morskie</td>
            </tr>
            <tr>
                <td>Zastosowanie</td>
                <td>zaplecza budowy, transport, magazynowanie </td>
            </tr>
            <tr>
                <td>Materia³</td>
                <td>Stal typu corten</td>
            </tr>
            <tr>
                <td>Pod³oga</td>
                <td>Drewniana na stalowych usztywnieniach</td>
            </tr>
            <tr>
                <td>Dopuszczenia</td>
                <td>Certyfikat bezpiecznego kontenera CSC</td>
            </tr>
            <tr>
                <td>Klasyfikacja</td>
                <td>Bureau Veritas, Germanisher Lloyd, American Bureau of Shipping</td>
            </tr>
            <tr>
                <td>Sk³adowanie</td>
                <td>Do 7 poziomów</td>
            </tr>
            <tr>
                <td>Waga</td>
                <td>4 100 kg</td>
            </tr>
            <tr>
                <td>Max Waga Brutto</td>
                <td>30 480 kg</td>
            </tr>
            <tr>
                <td>Pojemnoœæ</td>
                <td>3 890 kg</td>
            </tr>
        </table>
        <br />
        <h3>Wymiary</h3>
        <table>
            <tr>
                <th>Kontener</th>
                <th>Zewnêtrzne</th>
                <th>Wewnêtrzne</th>
            </tr>
            <tr>
                <td><b>D³ugoœæ </b></td>
                <td>12 192 mm</td>
                <td>12 032 mm</td>
            </tr>
            <tr>
                <td><b>Szerokoœæ </b></td>
                <td>2 438 mm</td>
                <td>2 350 mm</td>
            </tr>
            <tr>
                <td><b>Wysokoœæ </b></td>
                <td>2 896 mm</td>
                <td>2 695 mm</td>
            </tr>

        </table>
        <br />
        <div class="large-12 columns">
            <h3>Gwarancja!</h3>
            <br />
            <br />
            <center>
                <p>
                    <b>Gwarantujemy w 100% sprawny nie przeciekaj¹cy kontener!</b>
                </p>
                <p>
                    Kontener posiada jedynie otarcia i zarysowania.
                </p>
                <p>
                    Realizujemy reklamacje <b>maksymalnie do 7 dni</b> roboczych najczêœciej wymieniaj¹c kontener na nasz koszt!
                </p>
            </center>
        </div>
    </div>

    <div class="large-4 columns">
        <hr>
        <div class="row">
            <h3>Zdjêcia</h3>
            <br />
            <div class="large-12 columns" style="padding:0px;">
                <a class="th" href="http://abrkontenery.pl/#magazynowe">
                    <img src="http://galeria.abrsteel.pl/SZABLONY/img/anigif3.gif" class="img-thumbnail">
                </a>
            </div>
            
            <div class="large-6 columns" style="padding:0px;">

                <a class="th" href="http://galeria.abrsteel.pl/SZABLONv3/img/magazynowe12/magazynowy12%20(2).jpg">
                    <img src="http://galeria.abrsteel.pl/SZABLONv3/img/magazynowe12/male/magazynowy12%20(2).jpg" class="img-thumbnail">
                </a>
            </div>

            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/SZABLONY/img/HC12 (2).jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/SZABLONY/img/small/HC12 (2).jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="large-6 columns" style="padding:0px;">

                <a class="th" href="http://galeria.abrsteel.pl/SZABLONY/img/HC12 (5).jpg">
                    <img src="http://galeria.abrsteel.pl/SZABLONY/img/small/HC12 (5).jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/SZABLONY/img/HC12 (6).jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/SZABLONY/img/small/HC12 (6).jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/SZABLONY/img/HC12 (4).jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/SZABLONY/img/small/HC12 (4).jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/KontenerMagazynowyHC12m/Kontener_magazynowy12_2.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/KontenerMagazynowyHC12m/male/Kontener_magazynowy12_2-2.jpg" class="img-thumbnail">
                </a>
            </div>


        </div>

        <hr>
        <h3>Zapytaj o ofertê</h3>
        <br />

        <a href="tel:+48534460464"><p style="font-size:1.6em;text-align:center;width:100%"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/smartphone140.png" /><span style="font-size:0.9em;">+48 </span>534 460 464</p></a>
        <a href="tel:+48507155774"><p style="font-size:1.6em;text-align:center;width:100%"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/smartphone140.png" /><span style="font-size:0.9em;">+48 </span>507 155 774</p></a>
        <a href="mailto:biuro@abrkontenery.pl"><p style="font-size:1.2em;text-align:center;width:100%;"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/envelope68.png" />biuro@abrkontenery.pl</p></a>
        <br />
        <a href="http://abrkontenery.pl/#kontakt" class="button radius expand"><b>Poproœ o kontakt</b></a>
        <a href="http://abrkontenery.pl/#kontakt" class="button radius expand" style="margin-top:5px;"><b>Przeœlij nam swój projekt / szkic</b></a>

    </div>

    <hr>
    <div class="row">
        <div class="large-12 columns">
            <center>
                <a target="_blank" href="http://www.abrkontenery.pl/#usluga" class="button small radius">Pawilony Handlowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#magazynowe" class="button small radius">Kontenery Magazynowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#socjalne" class="button small radius">Kontenery Budowlane</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#hakowy" class="button small radius">Kontenery Hakowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#portiernia_strozowka" class="button small radius">Portiernie</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#portiernia_strozowka" class="button small radius">Stro¿ówki</a>
            </center>
        </div>

    </div>

    <hr>

    <div class="large-5 columns">
        <br />
        <a href="http://abrsteel.pl/programue">
            <img style="width:100%;" src="http://www.abrsteel.pl/Media/Default/Img/UE3_700.jpg" />
        </a>
    </div>
    <div class="large-2 columns">
        <a href="http://abrkontenery.pl">
            <img style="max-height:100px;display: block;
    				margin-left: auto;
    				margin-right: auto" src="http://www.abrkontenery.pl/Content/Img/abr_logo2.png" />
        </a>
    </div>
    <div class="large-5 columns kontakt">
        <p>
            <b>ABR SP. Z O.O. - CENTRALA MIKO£ÓW</b><br />
            <b><a href="http://abrkontenery.pl">www.abrkontenery.pl</a></b><br />
            43-190 Miko³ów, ul. Dzieñdziela 40
            NIP: 635-173-49-72
            Regon: 240309585
            KRS: 0000164345
        </p>
    </div>
</div>