<div class="ogloszenie">

    <div class="row">
        <h1 class="large-12 columns">
            KONTENER TECHNOLOGICZNY - TECHNICZNY - NOWY
        </h1>
        <div class="large-6 columns button">
            Sprzedaż - <b> 22 100 zł</b>
        </div>
    </div>
    <div class="large-8 columns opis">
        <hr>
        <h3>Informacje techniczne</h3>
        <br />
        <h4>KONSTRUKCJA</h4>
        <p>
            Stalowe profle o grubości 4 mm tworzą samonośny szkielet na  który składa się spawana rama podłogi, stropodachu oraz stalowe solidne słupy.
            elementy pokrywane są farbami podkładowymi i powłokami antykorozyjnymi.
        </p>
        <h4>PODŁOGA</h4>
        <p>
            Wypełnienie wymieniając od dołu:
            <ul>
                <li>Blacha trapezowa ocynkowana</li>
                <li>Wełna mineralna o grubości 100 mm pełniąca rolę izolacji termicznej</li>
                <li>Wodoodporna płyta OSB3 gr 22 mm</li>
                <li>Wykładzina PCV obiektowa, antyelektrostatyczna i rozpraszająca</li>
            </ul>
        </p>
        <h4>STROPODACH</h4>
        <p>
            Warstwowy pokryty od zewnątr membraną dachową lub papą podkładową i nawierzchniową termozgrzewalną. Paraizolacja: folia PE 0,1 mm, wodoodporna płyta OSB3 gr. 12 mm.
            Sufit wykonany zz blacy lakierowanej /system kaset/. Ocieplenie stanowi wełna mineralna o gr. 100 mmm.
            Odprowadzenie wód deszczowyc poprzez zewnętrzne rynny PCV fi. 100 mm, rury spustowe fi. 75 mm.
        </p>
        <h4>ŚCIANY ZEWNĘTRZNE</h4>
        <p>
            Płyta warstwowa ze rdzeniem styropianowym o gr. 100 mm, okładzina z blachy stalowej, ocynkowanej, lakierowanej farbami poliestrowymi.
        </p>
        <h4>DRZWI I OKNA</h4>
        <p>
            Stalowe, ocelone z bolcem antywyważeniowym, samozamykaczem, typu DOMFERM.
            Drzwi o wymiarach 900 X 2100 posiadają dwa zamki antywłamaniowe i ocieplenie.
        </p>
        <h4>INSTALACJA ELEKTRYCZNA</h4>
        <p>
            Oprawa oświetlenia awaryjnego, oprawa oświetlenia ogólnego 2X36W zz zapłonnikiem elektronicznym.
            Oprawa zewnętrzna OVAL 100W z czujką ruchu, zabezpieczona siatką szyną uziemiającą z płaskownikiem CU25/3.
            Uziemienie technnologiczne, zaciski typu GALMAR do podłączenia kontenera z otokiem, rama przepustu ROXTEC G6X2,
            grzejnik elektryczny konwektorowy 1000W.
        </p>

        <br />
        <h3>Wymiary</h3>
        <table>
            <tbody>
                <tr>
                    <th colspan="3">Kontener</th>
                </tr>
                <tr>
                    <th>Długość</th>
                    <th>Szerokość</th>
                    <th>Wysokość</th>
                </tr>
                <tr>
                    <td>6 010 mm</td>
                    <td>2 410 mm</td>
                    <td>2 860 mm</td>
                </tr>
            </tbody>
        </table>
        <table>
            <tr>
                <th colspan="2">Drzwi</th>
            </tr>
            <tr>
                <th>Szerokość</th>
                <th>Wysokość</th>
            </tr>
            <tr>
                <td>900 mm</td>
                <td>2 100 mm</td>
            </tr>
        </table>
        <br />
        <h3>Specjalistyczne Wyposażenie</h3>
        <br/>
        <div class="row">
            <div class="large-6 columns">
                <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand ">Drabina cablofil 300 mm</a>
            </div>
            <div class="large-6 columns">
                <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand">Oprawa oświetlenia awaryjnego</a>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand ">Oprawa oświetlenia ogólnego 2x36W z zapłonnikami elektronicznymi</a>
            </div>
            <div class="large-6 columns">
                <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand">Oprawa zewnętrzna OVAL 100W + czujka ruchu zabezpieczona siatką</a>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand ">Rama przepustu G6x2 ROXTEC</a>
            </div>
            <div class="large-6 columns">
                <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand">Uziemienie technologiczne</a>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand ">Zaciski GALMAR do połączenia kontenera z otokiem</a>
            </div>
            <div class="large-6 columns">
                <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand">Szyna uziemiająca z płaskownika Cu (Miedź) 25/3 mm</a>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand ">Schody wejściowe stalowe ocynkowane</a>
            </div>
            <div class="large-6 columns">
                <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand">Grzejnik elektryczny konwektorowy 1000W</a>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <a href="http://abrkontenery.pl/#kontakt" class="button secondary expand ">Drzwi antyłamaniowe klasy C wyposażone w elektrozaczep</a>
            </div>
        </div>
        <br/><br /><br /><br /><br /><br /><br />
        <div class="row">
            <div class="large-offset-2 large-8 columns">
                <h4>
                    JEŻELI PODANE WYPOSAŻENIE NIE SPEŁNIA TWOICH OCZEKIWAŃ<br /> PROSIMY O KONTAKT Z DORADCĄ <br />
                    <b>GWARANTUJEMY WYCENĘ W CIĄGU 24H (w dni robocze)!</b>
                </h4>
            </div>
        </div>


    </div>

    <div class="large-4 columns">
        <hr>



        <div class="row">
            <h3>Podobne Realizacje</h3>
            <br />
            <div class="large-12 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/SZABLONv3/img/technicznyzielony/techniczny%20(2).jpg">
                    <img src="http://galeria.abrsteel.pl/SZABLONv3/img/technicznyzielony/male/techniczny%20(2).jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="large-12 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/SZABLONv3/img/technicznyzielony/techniczny%20(3).jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/SZABLONv3/img/technicznyzielony/male/techniczny%20(3).jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="large-12 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/SZABLONv3/img/technicznyzielony/techniczny%20(4).jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/SZABLONv3/img/technicznyzielony/male/techniczny%20(4).jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="large-12 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/SZABLONv3/img/technicznyzielony/techniczny%20(5).jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/SZABLONv3/img/technicznyzielony/male/techniczny%20(5).jpg" class="img-thumbnail">
                </a>
            </div>

            <div class="large-12 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/SZABLONv3/img/technicznyzielony/techniczny%20(6).jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/SZABLONv3/img/technicznyzielony/male/techniczny%20(6).jpg" class="img-thumbnail">
                </a>
            </div>

        </div>
        <hr>

        <h3>Zapytaj o ofertę</h3>
        <br />

        <a href="tel:+48534460464"><p style="font-size:1.6em;text-align:center;width:100%"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/smartphone140.png" /><span style="font-size:0.9em;">+48 </span>534 460 464</p></a>
        <a href="tel:+48507155774"><p style="font-size:1.6em;text-align:center;width:100%"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/smartphone140.png" /><span style="font-size:0.9em;">+48 </span>507 155 774</p></a>
        <a href="mailto:biuro@abrkontenery.pl"><p style="font-size:1.2em;text-align:center;width:100%;"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/envelope68.png" />biuro@abrkontenery.pl</p></a>
        <br />
        <a href="http://abrkontenery.pl/#kontakt" class="button radius expand"><b>Poproś o kontakt</b></a>

        <a href="http://abrkontenery.pl/#kontakt" class="button radius expand" style="margin-top:5px;"><b>Prześlij nam swój projekt/szkic</b></a>

    </div>

    <hr>
    <div class="row">
        <div class="large-12 columns">
            <center>
                <a target="_blank" href="http://www.abrkontenery.pl/#usluga" class="button small radius">Pawilony Handlowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#magazynowe" class="button small radius">Kontenery Magazynowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#socjalne" class="button small radius">Kontenery Budowlane</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#hakowy" class="button small radius">Kontenery Hakowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#portiernia_strozowka" class="button small radius">Portiernie</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#portiernia_strozowka" class="button small radius">Strożówki</a>
            </center>
        </div>

    </div>

    <hr>

    <div class="large-5 columns">
        <br />
        <a href="http://abrsteel.pl/programue">
            <img style="width:100%;" src="http://www.abrsteel.pl/Media/Default/Img/UE3_700.jpg" />
        </a>
    </div>
    <div class="large-2 columns">
        <a href="http://abrkontenery.pl">
            <img style="max-height:100px;display: block;
    				margin-left: auto;
    				margin-right: auto" src="http://www.abrkontenery.pl/Content/Img/abr_logo2.png" />
        </a>
    </div>
    <div class="large-5 columns kontakt">
        <p>
            <b>ABR SP. Z O.O. - CENTRALA MIKOŁÓW</b><br />
            <b><a href="http://abrkontenery.pl">www.abrkontenery.pl</a></b><br />
            43-190 Mikołów, ul. Dzieńdziela 40
            NIP: 635-173-49-72
            Regon: 240309585
            KRS: 0000164345
        </p>
    </div>
</div>