
<div class="ogloszenie">

    <div class="row">
        <h1 class="large-12 columns">
            KONTENER BLASZANY MAGAZYNOWY - NOWY
        </h1>
        <div class="large-5 columns button">
            Sprzeda¿ - <b> 6 500 z³</b>
        </div>
        <div class="large-5 columns button">
            Wynajem - <b> 200 z³ / miesi¹c</b>
        </div>
    </div>


    <div class="large-8 columns opis">
        <hr>
        <h3>Informacje techniczne</h3>
        <br />
        <h4>KONSTRUKCJA</h4>
        <p>
            Szkielet konstrukcji wykonany jest z profilu zimno-giêtego w którego sk³ad wchodz¹:
            konstrukcja pod³ogi,
            konstrukcja stropodachu,
            stalowe k¹towniki 100 x 100 x 4 umieszczone w naro¿ach obiektu,
            stalowe wzmocnienia œcian bocznych wykonane z profilu 40 x 40 x 3
            Stalowe elementy pokrywane s¹ farbami antykorozyjnymi oraz emali¹ nawierzchniow¹.
        </p>
        <h4>POD£OGA</h4>
        <p>
            Wykonana jest z profilu zimno-giêtego. We³na mineralna o gruboœci 100 mm pe³ni rolê izolacji termicznej. Dodatkowo paraizolacja: folia PE, wyk³adzina PCV.
        </p>
        <h4>STROPODACH</h4>
        <p>
            Konstrukcja dachu wykonana z profilu zimnogiêtego o wymiarach: 100 X 50 X 3 dodatkowo wzmcniona i usztywniona. W sk³ad stropodachu wchodz¹: kasety z blachy ocynkowanej pokrytej kolorem RAL, wype³nienie we³n¹ mineraln¹ o gruboœci 100 mm, p³yta OSB umieszczona w kontrukcji dachu pokryta blach¹ trapezow¹.
        </p>
        <h4>ŒCIANY ZEWNÊTRZNE</h4>
        <p>
            Zewnêtrzne wykonanie z blachy trapezowej ocynkowanej T-8.
        </p>

        <h4>DRZWI I OKNA</h4>
        <p>
            Drzwi wejœciowe wymiar 900 mm x 2000 wraz z solidnym zamkiem.
        </p>
        <br />
        <h3>Wymiary</h3>
        <table>
            <tr>
                <th>Kontener</th>
                <th>Zewnêtrzne</th>
                <th>Wewnêtrzne</th>
            </tr>
            <tr>
                <td><b>D³ugoœæ </b></td>
                <td>2 010 mm</td>
                <td>1 910 mm</td>
            </tr>
            <tr>
                <td><b>Szerokoœæ </b></td>
                <td>1 510 mm</td>
                <td>1 410 mm</td>
            </tr>
            <tr>
                <td><b>Wysokoœæ </b></td>
                <td>2 720 mm</td>
                <td>2 500 mm</td>
            </tr>
            <tr>
                <th>Drzwi wejœciowe</th>
                <th colspan="2"></th>

            </tr>
            <tr>
                <td><b>Szerokoœæ </b></td>
                <td colspan="2">900 mm</td>
            </tr>
            <tr>
                <td><b>Wysokoœæ </b></td>
                <td colspan="2">2 000 mm</td>
            </tr>
        </table>
    </div>
    <div class="large-4 columns">
        <hr>
        <div class="row">
            <h3>Realizacje</h3>
            <br />
            <div class="large-12 columns" style="padding:0px;">
                <a class="th" href="http://abrkontenery.pl/#magazynowe">
                    <img src="http://galeria.abrsteel.pl/kontener_blaszany/gif/anigif.gif" class="img-thumbnail">
                </a>
            </div>
            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/kontener_blaszany/1.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/kontener_blaszany/male/1.jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/kontener_blaszany/2.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/kontener_blaszany/male/2.jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/kontener_blaszany/3.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/kontener_blaszany/male/3.jpg" class="img-thumbnail">
                </a>
            </div>

            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/kontener_blaszany/4.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/kontener_blaszany/male/4.jpg" class="img-thumbnail">
                </a>
            </div>
        </div>

        <hr>
        <h3>Zapytaj o ofertê</h3>
        <br />

        <a href="tel:+48534460464"><p style="font-size:1.6em;text-align:center;width:100%"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/smartphone140.png" /><span style="font-size:0.9em;">+48 </span>534 460 464</p></a>
        <a href="tel:+48507155774"><p style="font-size:1.6em;text-align:center;width:100%"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/smartphone140.png" /><span style="font-size:0.9em;">+48 </span>507 155 774</p></a>
        <a href="mailto:biuro@abrkontenery.pl"><p style="font-size:1.2em;text-align:center;width:100%;"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/envelope68.png" />biuro@abrkontenery.pl</p></a>
        <br />
        <a href="http://abrkontenery.pl/#kontakt" class="button radius expand"><b>Poproœ o kontakt</b></a>

        <a href="http://abrkontenery.pl/#kontakt" class="button radius expand" style="margin-top:5px;"><b>Przeœlij nam swój projekt/szkic</b></a>

    </div>

    <hr>
    <div class="row">
        <div class="large-12 columns">
            <center>
                <a target="_blank" href="http://www.abrkontenery.pl/#usluga" class="button small radius">Pawilony Handlowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#magazynowe" class="button small radius">Kontenery Magazynowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#socjalne" class="button small radius">Kontenery Budowlane</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#hakowy" class="button small radius">Kontenery Hakowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#portiernia_strozowka" class="button small radius">Portiernie</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#portiernia_strozowka" class="button small radius">Stro¿ówki</a>
            </center>
        </div>

    </div>

    <hr>

    <div class="large-5 columns">
        <br />
        <a href="http://abrsteel.pl/programue">
            <img style="width:100%;" src="http://www.abrsteel.pl/Media/Default/Img/UE3_700.jpg" />
        </a>
    </div>
    <div class="large-2 columns">
        <a href="http://abrkontenery.pl">
            <img style="max-height:100px;display: block;
    				margin-left: auto;
    				margin-right: auto" src="http://www.abrkontenery.pl/Content/Img/abr_logo2.png" />
        </a>
    </div>
    <div class="large-5 columns kontakt">
        <p>
            <b>ABR SP. Z O.O. - CENTRALA MIKO£ÓW</b><br />
            <b><a href="http://abrkontenery.pl">www.abrkontenery.pl</a></b><br />
            43-190 Miko³ów, ul. Dzieñdziela 40
            NIP: 635-173-49-72
            Regon: 240309585
            KRS: 0000164345
        </p>
    </div>
</div>