
<div class="ogloszenie">
    <div class="row">
        <h1 class="large-12 columns" style="font-size:1.8em;">
            KONTENER MAGAZYNOWY - MORSKI 20' WERSJA ONE-WAY
        </h1>
        <div class="large-5 columns button">
            Sprzedaż - <b> 9 900 zł</b>
        </div>
        <div class="large-5 columns button">
            Wynajem - <b> 300 zł / miesiąc</b>
        </div>
    </div>
   <hr/>
    <div class="row">
        <div class="large-12 columns">
            <h4>Kontenery Dostępne w całej Polsce!</h4>
        </div>
    </div>
    <div class="large-8 columns">
        <hr>
        <h3>Informacje techniczne</h3>
        <br />
        <table>
            <tr>
                <td>Rodzaj</td>
                <td>Uniwersalne Morskie</td>
            </tr>
            <tr>
                <td style="color:#B20008;">Stan</td>
                <td style="color:#B20008;">100% sprawny kontener, szczelny, bez rdzy</td>
            </tr>
            <tr>
                <td>Zastosowanie</td>
                <td>zaplecza budowy, transport, magazynowanie </td>
            </tr>
            <tr>
                <td>Materiał</td>
                <td>Stal typu corten</td>
            </tr>
            <tr>
                <td>Podłoga</td>
                <td>Drewniana na stalowych usztywnieniach</td>
            </tr>
            <tr>
                <td>Dopuszczenia</td>
                <td>Certyfikat bezpiecznego kontenera CSC</td>
            </tr>
            <tr>
                <td>Klasyfikacja</td>
                <td>Bureau Veritas, Germanisher Lloyd, American Bureau of Shipping</td>
            </tr>
            <tr>
                <td>Składowanie</td>
                <td>Do 7 poziomów</td>
            </tr>
            <tr>
                <td>Waga</td>
                <td>2 200 kg</td>
            </tr>
            <tr>
                <td>Max ładowność</td>
                <td>20 320 kg</td>
            </tr>
            <tr>
                <td>Pojemność</td>
                <td>32,1 m3</td>
            </tr>
        </table>
        <br />
        <div class="large-12 columns">
            <h3>Wymiary</h3>
            <table>
                <tr>
                    <th>Kontener</th>
                    <th>Zewnętrzne</th>
                    <th>Wewnętrzne</th>
                </tr>
                <tr>
                    <td><b>Długość </b></td>
                    <td>6 058 mm</td>
                    <td>5 867 mm</td>
                </tr>
                <tr>
                    <td><b>Szerokość </b></td>
                    <td>2 438 mm</td>
                    <td>2 330 mm</td>
                </tr>
                <tr>
                    <td><b>Wysokość </b></td>
                    <td>2 591 mm</td>
                    <td>2 390 mm</td>
                </tr>
                <tr>
                    <th>Drzwi wejściowe</th>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <td><b>Szerokość </b></td>
                    <td colspan="2">2 390 mm</td>
                </tr>
                <tr>
                    <td><b>Wysokość </b></td>
                    <td colspan="2">2 330 mm</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="large-4 columns">
        <hr>
        <div class="row">
            <h3>Zdjęcia</h3>
            <br />
            <div class="large-12 columns" style="padding:0px;">
                <a class="th" href="http://abrkontenery.pl/#magazynowe">
                    <img src="http://galeria.abrsteel.pl/Magazynowy_ONEWAY/anigif.gif" class="img-thumbnail">
                </a>
            </div>

            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/Magazynowy_ONEWAY/one-way_magazynowy1.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/Magazynowy_ONEWAY/male/one-way_magazynowy1.jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/Magazynowy_ONEWAY/one-way_magazynowy2.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/Magazynowy_ONEWAY/male/one-way_magazynowy2.jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="clearfix"></div>
            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/Magazynowy_ONEWAY/one-way_magazynowy3.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/Magazynowy_ONEWAY/male/one-way_magazynowy3.jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/Magazynowy_ONEWAY/one-way_magazynowy4.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/Magazynowy_ONEWAY/male/one-way_magazynowy4.jpg" class="img-thumbnail">
                </a>
            </div>
        </div>
        <hr>
        <h3>Zapytaj o ofertę</h3>
        <br />
        <a href="tel:+48534460464"><p style="font-size:1.6em;text-align:center;width:100%"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/smartphone140.png" /><span style="font-size:0.9em;">+48 </span>534 460 464</p></a>
        <a href="tel:+48507155774"><p style="font-size:1.6em;text-align:center;width:100%"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/smartphone140.png" /><span style="font-size:0.9em;">+48 </span>507 155 774</p></a>
        <a href="mailto:biuro@abrkontenery.pl"><p style="font-size:1.2em;text-align:center;width:100%;"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/envelope68.png" />biuro@abrkontenery.pl</p></a>
        <br />
        <a href="http://abrkontenery.pl/#kontakt" class="button radius expand"><b>Poproś o kontakt</b></a>
        <a href="http://abrkontenery.pl/#kontakt" class="button radius expand" style="margin-top:5px;"><b>Prześlij nam swój projekt/szkic</b></a>
    </div>
    <div class="large-12 columns">
        <h3>Rzuty techniczne</h3>
        <br />
        <div class="large-10 large-centered columns">
            <div class="large-6 columns">
                <a target="_blank" href="http://galeria.abrsteel.pl/SZABLONv3/Magazynowy20'STANDARD/rzut.jpg">
                    <img style="margin-top:35px;" src="http://galeria.abrsteel.pl/SZABLONv3/Magazynowy20'STANDARD/rzut.jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="large-3 columns">
                <a target="_blank" href="http://galeria.abrsteel.pl/SZABLONv3/Magazynowy20'STANDARD/rzut2.jpg">
                    <img src="http://galeria.abrsteel.pl/SZABLONv3/Magazynowy20'STANDARD/rzut2.jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="large-3 columns">
                <a target="_blank" href="http://galeria.abrsteel.pl/SZABLONv3/Magazynowy20'STANDARD/rzut3.jpg">
                    <img src="http://galeria.abrsteel.pl/SZABLONv3/Magazynowy20'STANDARD/rzut3.jpg" class="img-thumbnail">
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="large-12 columns">
            <center>
                <a target="_blank" href="http://www.abrkontenery.pl/#usluga" class="button small radius">Pawilony Handlowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#magazynowe" class="button small radius">Kontenery Magazynowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#socjalne" class="button small radius">Kontenery Budowlane</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#hakowy" class="button small radius">Kontenery Hakowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#portiernia_strozowka" class="button small radius">Portiernie</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#portiernia_strozowka" class="button small radius">Strożówki</a>
            </center>
        </div>
    </div>
    <hr>
    <div class="large-5 columns">
        <br />
        <a href="http://abrsteel.pl/programue">
            <img style="width:100%;" src="http://www.abrsteel.pl/Media/Default/Img/UE3_700.jpg" />
        </a>
    </div>
    <div class="large-2 columns">
        <a href="http://abrkontenery.pl">
            <img style="max-height:100px;display: block;
    				margin-left: auto;
    				margin-right: auto" src="http://www.abrkontenery.pl/Content/Img/abr_logo2.png" />
        </a>
    </div>
    <div class="large-5 columns kontakt">
        <p>
            <b>ABR SP. Z O.O. - CENTRALA MIKOŁÓW</b><br />
            <b><a href="http://abrkontenery.pl">www.abrkontenery.pl</a></b><br />
            43-190 Mikołów, ul. Dzieńdziela 40
            NIP: 635-173-49-72
            Regon: 240309585
            KRS: 0000164345
        </p>
    </div>
</div>


