<div class="ogloszenie">
    <div class="row">
        <h1 class="large-12 columns">
            Pawilon Handlowo - Usługowy "Nowoczesny Salon Handlowy"
        </h1>
        <div class="large-5 columns button">
            Sprzedaż -  49 900 zł
        </div>
        <div class="large-5 columns button">
            Wynajem -  1 600 zł / miesiąc
        </div>
    </div>

    <hr />
    <div class="row">
        <a href="http://abrkontenery.pl/#kontakt" class="button secondary large-5 columns" style="margin:5px;">Wydajny klimatyzator: + 2 900 zł</a>
        <a href="http://abrkontenery.pl/#kontakt" class="button secondary large-5 columns" style="margin:5px;">Oklejenie kolorową reklamą (3 ściany): + 2 900 zł</a>
    </div>
    <div class="large-8 columns">
        <hr>
        <h3>Informacje techniczne</h3>
        <br />
        <div class="opis">

            <h4>KONSTRUKCJA</h4>
            <p>
                Ramowa, spawana, wykonana z zimnogiętych profili stalowych. Dodatkowo pokyta farbą antykorozyjną oraz emalią nawierzchniową.
            </p>
            <h4>PODŁOGA</h4>
            <p>
                Wykonana jest z profilu zimno-giętego. Wełna mineralna o grubości 100 mm pełni rolę izolacji termicznej. Dodatkowo paraizolacja: folia PE, wykładzina PCV.
            </p>
            <h4>STROPODACH</h4>
            <p>
                Sufit wykonany, paraizolacja: folia PE, izolacja termiczna: wełna mineralna. Wodoodporna płyta OSB + rynny wewnętrzne PCV.
            </p>
            <h4>ŚCIANY ZEWNĘTRZNE</h4>
            <p>
                Płyta warstwowa ze rdzeniem styropianowym o gr. 100 mm, okładzina z blachy stalowej, ocynkowanej, lakierowanej farbami poliestrowymi.
                Udostępniamy możliwość wyboru rdzenia płyty warstwowej.<br /> Przykładowe parametry i koszty:
                <table>
                    <tr>
                        <th>Właściwości</th>
                        <th>Styropian</th>
                        <th>Wełna Mineralna</th>
                        <th>Poliuretan</th>
                    </tr>
                    <tr>
                        <th>Przenikanie ciepła</th>
                        <td>0,37 [W/m²K]</td>
                        <td>0,21 [W/m²K]</td>
                        <td>0,39 [W/m²K]</td>
                    </tr>
                    <tr>
                        <th>Izolacyjność dźwięku</th>
                        <td>24 [dB]</td>
                        <td>25 [dB]</td>
                        <td>31 [dB]</td>
                    </tr>
                    <tr>
                        <th>Odporność ogniowa</th>
                        <td>E15 / EW15</td>
                        <td>EI 20 / EI 30</td>
                        <td>EI 90 / E 120</td>
                    </tr>
                    <tr>
                        <th>Drzwi</th>
                        <td>metalowe Hormann</td>
                        <td>PPOŻ<br />Hormann</td>
                        <td>PPOŻ Hormann</td>
                    </tr>
                    <tr>
                        <th>Koszt</th>
                        <td>(w cenie)</td>
                        <td>+ 2000 zł</td>
                        <td>+ 2000 zł</td>
                    </tr>
                </table>
            </p>
            <h4>INSTALACJA ELEKTRYCZNA</h4>
            <p>
                Przewody prowadzone natynkowo w korytkach kablowych, tablica elektryczna z wyposażeniem, oświetlenie, gniazda wtykowe ogólne.
            </p>
            <br />
        </div>
        <h3>Wymiary</h3>
        <table>
            <tr>
                <th>Kontener</th>
                <th>Zewnętrzne</th>
                <th>Wewnętrzne</th>
            </tr>
            <tr>
                <td>Długość </td>
                <td>5 000 mm</td>
                <td>4 800 mm</td>
            </tr>
            <tr>
                <td>Szerokość </td>
                <td>5 000 mm</td>
                <td>4 800 mm</td>
            </tr>
            <tr>
                <td>Wysokość </td>
                <td>2 860 mm</td>
                <td>2 500 mm</td>
            </tr>
            <tr>
                <th>Drzwi wejściowe</th>
                <th colspan="2"></th>
            </tr>
            <tr>
                <td>Szerokość </td>
                <td colspan="2">1 100 mm</td>
            </tr>
            <tr>
                <td>Wysokość </td>
                <td colspan="2">2 100 mm</td>
                
            </tr>
            <tr>
                <th>Witryny wraz z roletami</th>
                <td colspan="2">Sztuk 6</td>
                
            </tr>
            <tr>
                <td>Szerokość </td>
                <td colspan="2">1 150 mm</td>
            </tr>
            <tr>
                <td>Wysokość </td>
                <td colspan="2">2 480 mm</td>
            </tr>
            <tr>
                <th>Okna wraz z roletami</th>
                <td colspan="2">Sztuk 2</td>
            </tr>
            <tr>
                <td>Szerokość </td>
                <td colspan="2">1 150 mm</td>
            </tr>
            <tr>
                <td>Wysokość </td>
                <td colspan="2">2 480 mm</td>
            </tr>
        </table>
    </div>

    <div class="large-4 columns">
        <hr>
        <div class="row">
            <h3>Realizacje</h3>
            <br />
            <div class="large-12 columns" style="padding:0px;">
                <a class="th" href="http://abrkontenery.pl/#usluga">
                    <img src="http://galeria.abrsteel.pl/Pawilon_waw/anigif.gif" class="img-thumbnail">
                </a>
            </div>
            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/Pawilon_waw/pawilon_kontener1.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/Pawilon_waw/min/pawilon_kontener1.jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/Pawilon_waw/pawilon_kontener2.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/Pawilon_waw/min/pawilon_kontener2.jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/Pawilon_waw/pawilon_kontener3.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/Pawilon_waw/min/pawilon_kontener3.jpg" class="img-thumbnail">
                </a>
            </div>

            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/Pawilon_waw/pawilon_kontener4.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/Pawilon_waw/min/pawilon_kontener4.jpg" class="img-thumbnail">
                </a>
            </div>

        </div>
        <hr />
        <h3>Rzuty</h3>
        <br />
        <a class="th" href="http://localhost:58222/#kontakt" target="_blank">
            <img src="http://galeria.abrsteel.pl/Pawilon_waw/anigif2.gif" class="img-thumbnail" />
        </a>
        <hr />
        <h3>Zapytaj o ofertę</h3>
        <br />

        <a href="tel:+48534460464"><p style="font-size:1.6em;text-align:center;width:100%"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/smartphone140.png" /><span style="font-size:0.9em;">+48 </span>534 460 464</p></a>
        <a href="tel:+48507155774"><p style="font-size:1.6em;text-align:center;width:100%"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/smartphone140.png" /><span style="font-size:0.9em;">+48 </span>507 155 774</p></a>
        <a href="mailto:biuro@abrkontenery.pl"><p style="font-size:1.2em;text-align:center;width:100%;"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/envelope68.png" />biuro@abrkontenery.pl</p></a>
        <br />
        <a href="http://abrkontenery.pl/#kontakt" class="button radius expand">Poproś o kontakt</a>

        <a href="http://abrkontenery.pl/#kontakt" class="button radius expand" style="margin-top:5px;">Prześlij nam swój projekt/szkic</a>

    </div>

    <hr>
    <div class="row">
        <div class="large-12 columns">
            <center>
                <a target="_blank" href="http://www.abrkontenery.pl/#usluga" class="button small radius">Pawilony Handlowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#magazynowe" class="button small radius">Kontenery Magazynowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#socjalne" class="button small radius">Kontenery Budowlane</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#hakowy" class="button small radius">Kontenery Hakowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#portiernia_strozowka" class="button small radius">Portiernie</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#portiernia_strozowka" class="button small radius">Strożówki</a>
            </center>
        </div>

    </div>

    <hr>

    <div class="large-5 columns">
        <br />
        <a href="http://abrsteel.pl/programue">
            <img style="width:100%;" src="http://www.abrsteel.pl/Media/Default/Img/UE3_700.jpg" />
        </a>
    </div>
    <div class="large-2 columns">
        <a href="http://abrkontenery.pl">
            <img style="max-height:100px;display: block;
        margin-left: auto;
        margin-right: auto" src="http://www.abrkontenery.pl/Content/Img/abr_logo2.png" />
        </a>
    </div>
    <div class="large-5 columns kontakt">
        <p>
            ABR SP. Z O.O. - CENTRALA MIKOŁÓW<br />
            <a href="http://abrkontenery.pl">www.abrkontenery.pl</a><br />
            43-190 Mikołów, ul. Dzieńdziela 40
            NIP: 635-173-49-72
            Regon: 240309585
            KRS: 0000164345
        </p>
    </div>
</div>