
<style type="text/css">
    div.body {
        font-family: "Segoe UI","Helvetica Neue","Helvetica";
        color: black;
        margin: 0 auto;
        width: 1000px;
        padding: 0px;
        text-align: center;
        font-size: 14pt;
    }
    #lewy_gorny {
        background: url('http://galeria.abrsteel.pl/Salon_sprzedazy/animacja.gif');
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
        width: 482px;
        height: 331px;
        margin: 5px;
        border: 1px solid #CAC8C8;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
    }

        #lewy_gorny a:hover {
            background: url('http://galeria.abrsteel.pl/Salon%20Gier/galeria_tlo.png');
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #prawy_gorny {
        background: url('http://galeria.abrsteel.pl/Salon_sprzedazy/rzut3d-h.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        float: left;
        width: 482px;
        height: 331px;
        margin: 5px;
        border: 1px solid #CAC8C8;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
    }

        #prawy_gorny a:hover {
            background: url('http://galeria.abrsteel.pl/Salon_sprzedazy/rzut3d.jpg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            display: block;
        }

    .lewy_dolny {
        position: relative;
        float: left;
        margin: 5px;
        width: 315px;
        height: 330px;
        background: white;
        border: 1px solid #CAC8C8;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
    }

    .prawy_dolny {
        float: left;
        margin: 5px;
        width: 636px;
        height: 330px;
        background: white;
        border: 1px solid #CAC8C8;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
    }

    .lewy_lewy {
        float: left;
        margin: 5px;
        width: 315px;
        height: 670px;
        background: white;
        border: 1px solid #CAC8C8;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
    }
    img.rzut {
        height: 328px;
        width: 100%;
    }

    #businessa {
        display: block;
        background: url('http://galeria.abrsteel.pl/Nowe%20gizycko/tekst_tlo.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

        #businessa a:hover {
            background-size: cover;
            display: block;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }


    #d_gora {
        float: left;
        width: 50%;
        background: url('http://galeria.abrsteel.pl/Nowe%20gizycko/projekt.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        height:100%;
    }

        #d_gora a:hover {
            background: url('http://galeria.abrsteel.pl/Nowe%20gizycko/projekt-h.jpg');
            background-size: contain;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            height:100%;
        }

    #d_dol {
        float: right;
        width: 50%;
        background: url('http://galeria.abrsteel.pl/Nowe%20gizycko/dzial.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        height:100%;
    }

        #d_dol a:hover {
            background: url('http://galeria.abrsteel.pl/Nowe%20gizycko/dzial-h.jpg');
            background-size: contain;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            height:100%;
        }

    #dol {
        float: left;
        margin: 6px;
        width: 968px;
        height: 163px;
        background: white;
        border: 1px solid #CAC8C8;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
    }

    #bezp {
        background: url('http://galeria.abrsteel.pl/architektura/bezp.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
    }

        #bezp a:hover {
            background: url('http://galeria.abrsteel.pl/architektura/bezp-h.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #arch {
        background: url('http://galeria.abrsteel.pl/Salon_sprzedazy/oferta.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
    }

    #wnetrze {
        background: url('http://galeria.abrsteel.pl/Nowe%20gizycko/wnetrze.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .zdj {
        width: 100%;
    }

    #zdj1 {
        background: url('http://galeria.abrsteel.pl/Salon_sprzedazy/salon1.jpg');
    }

        #zdj1 a:hover {
            background: url('http://galeria.abrsteel.pl/Salon_sprzedazy/lupa.png');
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #zdj2 {
        background: url('http://galeria.abrsteel.pl/Salon_sprzedazy/salon5.jpg');
    }

        #zdj2 a:hover {
            background: url('http://galeria.abrsteel.pl/Salon_sprzedazy/lupa.png');
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #zdj3 {
        background: url('http://galeria.abrsteel.pl/Salon_sprzedazy/salon3.jpg');
    }

        #zdj3 a:hover {
            background: url('http://galeria.abrsteel.pl/Salon_sprzedazy/lupa.png');
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #zdj4 {
        background: url('http://galeria.abrsteel.pl/Salon_sprzedazy/salon4.jpg');
    }

        #zdj4 a:hover {
            background: url('http://galeria.abrsteel.pl/Salon_sprzedazy/lupa.png');
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #zdj1, #zdj2, #zdj3, #zdj4 {
        background-size: cover;
    }
    .block_zdj {
        width: 233px;
        float: left;
        margin: 5px;
        background: white;
        border: 1px solid #CAC8C8;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
    }

    #rzetelnosc {
        background: url('http://galeria.abrsteel.pl/rzetelnosc-h.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
    }

        #rzetelnosc a:hover {
            background: url('http://galeria.abrsteel.pl/rzetelnosc.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #mapa2 {
        background: url('http://galeria.abrsteel.pl/mapa/mapa.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
    }

        #mapa2 a:hover {
            background: url('http://galeria.abrsteel.pl/mapa/mapa1.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #gielda {
        background: url('http://galeria.abrsteel.pl/allegro_gielda.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
    }

        #gielda a:hover {
            background: url('http://galeria.abrsteel.pl/allegro_gielda-h.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #srodkowy {
        position: relative;
        display: block;
        margin: 0 auto;
    }
</style>

<div class="body">
    <div id="gorny">

        <div id="lewy_gorny">
            <a href="http://www.abrkontenery.pl" target=_blank><img class="rzut" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /> </a>
        </div>

        <div id="prawy_gorny">
            <a href="http://www.abrkontenery.pl" target=_blank><img class="rzut" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /> </a>

        </div>
    </div>
    <div>
        <div class="block_zdj" id="zdj1"><a href="http://galeria.abrsteel.pl/Salon_sprzedazy/Salon_sprzedazy%20(1).jpg"><img style="width:100%;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png"></img></a></div>
        <div class="block_zdj" id="zdj2"><a href="http://galeria.abrsteel.pl/Salon_sprzedazy/Salon_sprzedazy%20(5).jpg"><img style="width:100%;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png"></img></a></div>
        <div class="block_zdj" id="zdj3"><a href="http://galeria.abrsteel.pl/Salon_sprzedazy/Salon_sprzedazy%20(3).jpg"><img style="width:100%;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png"></img></a></div>
        <div class="block_zdj" id="zdj4"><a href="http://galeria.abrsteel.pl/Salon_sprzedazy/Salon_sprzedazy%20(4).jpg"><img style="width:100%;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png"></img></a></div>
    </div>
    <div id="srodkowy">
        <div class="lewy_lewy">

            <div id="businessa"><a href="http://www.abrsteel.pl/kontakt" target=_blank><img class="rzut2" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png"></a></div>

        </div>
        <div class="prawy_dolny">

            <div id="arch"><a href="http://www.abrsteel.pl/kontakt" target=_blank>
                <img class="rzut" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" />
            </div>


        </div>

        <div class="lewy_dolny" id="wnetrze">

            <a href="http://www.abrkontenery.pl" target=_blank><img class="rzut" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /></a>

        </div>
        <div class="lewy_dolny">

            <div id="bezp"><a href="http://www.abrsteel.pl/kontakt" target=_blank><img class="rzut" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png"></a></div>

        </div>




        <div class="lewy_dolny" id="mapa2">
            <a href="http://www.abrsteel.pl/kontakt" target=_blank><img class="rzut" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /> </a>
        </div>
        <div class="lewy_dolny" id="rzetelnosc">
            <a href="http://abrsteel.pl/firma" target=_blank><img class="rzut" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /> </a>
        </div>
        <div class="lewy_dolny" id="gielda">
            <a href="http://gieldakontenerow.pl" target=_blank><img class="rzut" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /> </a>
        </div>
        <div id="dol">
            <div id="d_gora">

                <a href="mailto:kontenery@abrhandel.pl" target=_blank><img class="rzut" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /> </a>
            </div>
            <div id="d_dol">
                <a href="http://www.abrkontenery.pl" target=_blank><img class="rzut" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /> </a>
            </div>
        </div>
    </div>

</div>
