<div class="ogloszenie">

    <div class="row">
        <h1 class="large-12 columns">
            STRÓŻÓWKA / PORTIERNIA 2.5 X 2.5 - NOWA
        </h1>
        <div class="large-5 columns button">
            Sprzedaż - <b> 7 800 zł</b>
        </div>
        <div class="large-5 columns button">
            Wynajem - <b> 250 zł / miesiąc</b>
        </div>
    </div>
    <div class="large-8 columns opis">
        <hr>
        <h3>Informacje techniczne</h3>
        <br />
        <div style="padding-left:10px;padding-right:10px;">
            <h4>KONSTRUKCJA</h4>
            
                <p> Ramowa (rama podłogi i rama stropodachu połączone słupami narożnymi).
                Spawana, wykonana z zimnogiętych profili stalowych.
                 Zabezpieczenie antykorozyjne (~100 μm): 2x farba podkładowa, 1÷2x farba nawierzchniowa.</p>
            
            <h4>PODŁOGA</h4>
            
                <p> Rama stalowa od spodu zamknięta jest blachą stalowa ocynkowaną trapezowaną T8.
                 Izolacja termiczna: wełna mineralna o grubości 100 mm. 
                 Paroizolacja: folia PE o grubości 0,1 mm.
                 Wodoodporna płyta OSB 3 o grubości 22 mm. 
               Panele podłogowe. </p>
            
            <h4>STROPODACH</h4>
            
                <p> Płyta warstwowa dachowa  z rdzeniem ze styropianu.
                 Dach wykonany z blachy trapezowej lakierowanej ze spadkiem.
                Odprowadzenie wody rynnami zewnętrznymi systemowymi z PVC, rury spustowe PVC ø 75.</p>
            
            <h4>ŚCIANY ZEWNĘTRZNE</h4>
            
                <p>
                    Płyta warstwowa ze rdzeniem styropianowym o gr. 100 mm, okładzina z blachy stalowej, ocynkowanej, lakierowanej farbami poliestrowym w kolorze wybranym przez klienta.
                
                Współczynnik przenikania ciepła dla ścian: k<0,35w />m2K </p>
                
            
            <p>
                Udostępniamy możliwość wyboru rdzenia płyty warstwowej.
                <br /> Przykładowe parametry i koszty:
            </p>
                <table>
                    <tr>
                        <th>Właściwości</th>
                        <th>Styropian</th>
                        <th>Wełna Mineralna</th>
                        <th>Poliuretan</th>
                    </tr>
                    <tr>
                        <th>Przenikanie ciepła</th>
                        <td>0,37 [W/m²K]</td>
                        <td>0,21 [W/m²K]</td>
                        <td>0,39 [W/m²K]</td>
                    </tr>
                    <tr>
                        <th>Izolacyjność dźwięku</th>
                        <td>24 [dB]</td>
                        <td>25 [dB]</td>
                        <td>31 [dB]</td>
                    </tr>
                    <tr>
                        <th>Odporność ogniowa</th>
                        <td>E15 / EW15</td>
                        <td>EI 20 / EI 30</td>
                        <td>EI 90 / E 120</td>
                    </tr>
                    <tr>
                        <th>Drzwi</th>
                        <td>metalowe Hormann</td>
                        <td>PPOŻ<br />Hormann</td>
                        <td>PPOŻ Hormann</td>
                    </tr>
                    <tr>
                        <th>Koszt</th>
                        <td>(w cenie)</td>
                        <td>+ 1000 zł</td>
                        <td>+ 1000 zł</td>
                    </tr>
                </table>
        
            <h4>INSTALACJA ELEKTRYCZNA</h4>
            
                <p>Przewody prowadzone natynkowo w korytkach kablowych.
                 Tablica elektryczna z wyposażeniem (wyłącznik główny + zabezpieczenia)
                oświetlenie (oprawy świetlówkowe 2x36W + wyłączniki).
                 Gniazda wtykowe ogólne (gniazda 10/16 A, 230 V), 2 podwójne</p>
            
            <h4>STOLARKA OKIENNO DRZWIOWA</h4>
            
                <p> Drzwi wejsciowe - 900x2100mm- 1 kpl.
                 Okno uchylno-rozwierne 865x1135mm – 3 szt</p>
            
            <br />
        </div>
        <h3>Wymiary</h3>
        <table>
            <tr>
                <th>Kontener</th>
                <th>Zewnętrzne</th>
                <th>Wewnętrzne</th>
            </tr>
            <tr>
                <td><b>Długość </b></td>
                <td>2 500 mm</td>
                <td>2 400 mm</td>
            </tr>
            <tr>
                <td><b>Szerokość </b></td>
                <td>2 500 mm</td>
                <td>2 400 mm</td>
            </tr>
            <tr>
                <td><b>Wysokość </b></td>
                <td>2 860 mm</td>
                <td>2 500 mm</td>
            </tr>
            <tr>
                <th>Drzwi wejściowe</th>
                <th colspan="2"></th>
            </tr>
            <tr>
                <td><b>Szerokość </b></td>
                <td colspan="2">900 mm</td>

            </tr>
            <tr>
                <td><b>Wysokość </b></td>
                <td colspan="2">2 100 mm</td>
            </tr>
            <tr>
                <th>Okna</th>
                <th colspan="2">Sztuk 3</th>
            </tr>
            <tr>
                <td><b>Szerokość </b></td>
                <td colspan="2">865 mm</td>
            </tr>
            <tr>
                <td><b>Wysokość </b></td>
                <td colspan="2">1 135 mm</td>
            </tr>
        </table>
    </div>
    <div class="large-4 columns">
        <hr>
        <div class="row">
            <h3>Realizacje</h3>
            <br />
            <div class="large-12 columns" style="padding:0px;">
                <a class="th" href="http://abrkontenery.pl/#portiernia_strozowka">
                    <img src="http://galeria.abrsteel.pl/strozowka2,5NOWA/anigif.gif" class="img-thumbnail"/>
                </a>
            </div>
            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/strozowka2,5NOWA/strozowka1.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/strozowka2,5NOWA/male/strozowka1.jpg" class="img-thumbnail"/>
                </a>
            </div>
            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/strozowka2,5NOWA/strozowka2.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/strozowka2,5NOWA/male/strozowka2.jpg" class="img-thumbnail"/>
                </a>
            </div>
            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/strozowka2,5NOWA/strozowka3.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/strozowka2,5NOWA/male/strozowka3.jpg" class="img-thumbnail"/>
                </a>
            </div>
            <div class="large-6 columns" style="padding:0px;">
                <a class="th" href="http://galeria.abrsteel.pl/strozowka2,5NOWA/strozowka4.jpg" target="_blank">
                    <img src="http://galeria.abrsteel.pl/strozowka2,5NOWA/male/strozowka4.jpg" class="img-thumbnail"/>
                </a>
            </div>
        </div>
        <hr>
        <h3>Zapytaj o ofertę</h3>
        <br />
        <a href="tel:+48534460464"><p style="font-size:1.6em;text-align:center;width:100%"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/smartphone140.png" /><span style="font-size:0.9em;">+48 </span>534 460 464</p></a>
        <a href="tel:+48507155774"><p style="font-size:1.6em;text-align:center;width:100%"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/smartphone140.png" /><span style="font-size:0.9em;">+48 </span>507 155 774</p></a>
        <a href="mailto:biuro@abrkontenery.pl"><p style="font-size:1.2em;text-align:center;width:100%;"><img style="height:25px;float:left;" src="http://galeria.abrsteel.pl/SZABLONv3/img/envelope68.png" />biuro@abrkontenery.pl</p></a>
        <br />
        <a href="http://abrkontenery.pl/#kontakt" class="button radius expand"><b>Poproś o kontakt</b></a>

        <a href="http://abrkontenery.pl/#kontakt" class="button radius expand" style="margin-top:5px;"><b>Prześlij nam swój projekt/szkic</b></a>

    </div>

    <hr>
    <div class="row">
        <div class="large-12 columns">
            <center>
                <a target="_blank" href="http://www.abrkontenery.pl/#usluga" class="button small radius">Pawilony Handlowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#magazynowe" class="button small radius">Kontenery Magazynowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#socjalne" class="button small radius">Kontenery Budowlane</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#hakowy" class="button small radius">Kontenery Hakowe</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#portiernia_strozowka" class="button small radius">Portiernie</a>
                <a target="_blank" href="http://www.abrkontenery.pl/#portiernia_strozowka" class="button small radius">Strożówki</a>
            </center>
        </div>

    </div>

    <hr>

    <div class="large-5 columns">
        <br />
        <a href="http://abrsteel.pl/programue">
            <img style="width:100%;" src="http://www.abrsteel.pl/Media/Default/Img/UE3_700.jpg" />
        </a>
    </div>
    <div class="large-2 columns">
        <a href="http://abrkontenery.pl">
            <img style="max-height:100px;display: block;
    				margin-left: auto;
    				margin-right: auto" src="http://www.abrkontenery.pl/Content/Img/abr_logo2.png" />
        </a>
    </div>
    <div class="large-5 columns kontakt">
        <p>
            <b>ABR SP. Z O.O. - CENTRALA MIKOŁÓW</b><br />
            <b><a href="http://abrkontenery.pl">www.abrkontenery.pl</a></b><br />
            43-190 Mikołów, ul. Dzieńdziela 40
            NIP: 635-173-49-72
            Regon: 240309585
            KRS: 0000164345
        </p>
    </div>
</div>