<style type="text/css">
    
    div.body {
        font-family: "Segoe UI","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
        color: white;
        height: 1570px;
        width: 1200px;
        margin:0 auto;
        padding: 0px;
        text-align: center;
        font-size: 12pt;
    }

    #headerG {
        width: 1186px;
        height: 302px;
        background: url('http://galeria.abrsteel.pl/architektura/header_zps5e1bccad.jpg') top repeat-x;
        background-size: 100% 100%;
        border: 1px solid #D8D8D8;
        box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.75);
        margin: 5px;
    }

        #headerG a {
            color: white;
            font-family: "Segoe UI","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
        }

            #headerG a:hover {
                color: red;
            }

    div.headerG {
        width: 100%;
        height: 100px;
    }

    div.header1 {
        width: 35%;
        float: left;
    }

    div.header2 {
        width: 65%;
        float: right;
    }

    #lewy_gorny {
        float: left;
        width: 585px;
        height: 400px;
        background: url('http://galeria.abrsteel.pl/Salon%20Gier/anigif2.gif');
        background-size: cover;
        background-repeat: no-repeat;
        margin: 5px;
        border: 1px solid #D8D8D8;
        box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.75);
    }

        #lewy_gorny a:hover {
            background: url('http://galeria.abrsteel.pl/Salon%20Gier/galeria_tlo.png');
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #prawy_gorny {
        float: left;
        width: 585px;
        height: 400px;
        background: url('http://galeria.abrsteel.pl/Salon%20Gier/kontener2.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 6px;
        box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.75);
        border: 1px solid #D8D8D8;
    }

        #prawy_gorny a:hover {
            background: url('http://galeria.abrsteel.pl/Salon%20Gier/kontener2_hover.jpg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            display: block;
        }

    .lewy_dolny {
        float: left;
        margin: 6px;
        width: 385px;
        height: 400px;
        background: white;
        border: 1px solid #D8D8D8;
        box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.75);
    }

    .lewy_lewy {
        float: left;
        margin: 6px;
        width: 385px;
        height: 812px;
        background: white;
        border: 1px solid #D8D8D8;
        box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.75);
    }




    img.rzut {
        height: 800px;
        width: 100%;
    }

    #businessa {
        display: block;
        background: url('http://galeria.abrsteel.pl/architektura/czerwone/tekst_tlo.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

        #businessa a:hover {
            background: url('http://galeria.abrsteel.pl/architektura/2.jpg');
            background-size: cover;
            display: block;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

    #onas {
        height: 100%;
        width: 99%;
        background: url('http://galeria.abrsteel.pl/Salon%20Gier/mapa.gif');
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
    }

    #c_gora {
        background: url('http://galeria.abrsteel.pl/architektura/12_h.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

        #c_gora a:hover {
            background: url('http://galeria.abrsteel.pl/architektura/12.jpg');
            background-size: contain;
            display: block;
            background-repeat: no-repeat;
        }

    #c_dol {
        background: url('http://galeria.abrsteel.pl/architektura/13_h.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

        #c_dol a:hover {
            background: url('http://galeria.abrsteel.pl/architektura/13.jpg');
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #d_gora {
        float: left;
        height: 200px;
        width: 100%;
        background: url('http://galeria.abrsteel.pl/Nowe%20gizycko/projekt.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
    }

        #d_gora a:hover {
            background: url('http://galeria.abrsteel.pl/Nowe%20gizycko/projekt-h.jpg');
            background-size: contain;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            height: 200px;
        }

    #d_dol {
        float: left;
        height: 200px;
        width: 100%;
        background: url('http://galeria.abrsteel.pl/Nowe%20gizycko/dzial.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
    }

        #d_dol a:hover {
            background: url('http://galeria.abrsteel.pl/Nowe%20gizycko/dzial-h.jpg');
            background-size: contain;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            height: 200px;
        }

    #dol {
        float: left;
        margin: 6px;
        width: 385px;
        height: 400px;
        background: white;
        border: 1px solid #F2F2F2;
        box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.75);
    }

    #bezp {
        background: url('http://galeria.abrsteel.pl/architektura/bezp.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
    }

        #bezp a:hover {
            background: url('http://galeria.abrsteel.pl/architektura/bezp-h.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }


    #wnetrze {
        background: url('http://galeria.abrsteel.pl/architektura/wnetrze.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .zdj {
        width: 100%;
    }

    #zdj1 {
        background: url('http://galeria.abrsteel.pl/Salon%20Gier/Salon_gier1.JPG');
    }

        #zdj1 a:hover {
            background: url('http://galeria.abrsteel.pl/Salon_sprzedazy/lupa.png');
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #zdj2 {
        background: url('http://galeria.abrsteel.pl/Salon%20Gier/Salon_gier2.JPG');
    }

        #zdj2 a:hover {
            background: url('http://galeria.abrsteel.pl/Salon_sprzedazy/lupa.png');
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #zdj3 {
        background: url('http://galeria.abrsteel.pl/Salon%20Gier/Salon_gier3.JPG');
    }

        #zdj3 a:hover {
            background: url('http://galeria.abrsteel.pl/Salon_sprzedazy/lupa.png');
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #zdj4 {
        background: url('http://galeria.abrsteel.pl/Salon%20Gier/Salon_gier4.JPG');
    }

        #zdj4 a:hover {
            background: url('http://galeria.abrsteel.pl/Salon_sprzedazy/lupa.png');
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #zdj1, #zdj2, #zdj3, #zdj4 {
        background-size: cover;
    }

    .menu {
        float: left;
        padding: 1px 0 1px 1px;
    }

        .menu li {
            float: left;
        }

        .menu, .menu li {
            display: block;
            list-style: none;
            margin: 0;
        }

            .menu a:link, .menu a:visited {
                display: block;
                font-size: 16px;
                letter-spacing: 2px;
                color: black;
                padding: 15px 50px 16px 50px;
                text-decoration: none;
            }

            .menu a:hover {
                background: #E3000A;
                color: white;
            }

    .block_zdj {
        width: 284px;
        float: left;
        margin: 6px;
        background: white;
        border: 1px solid #F2F2F2;
        box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.75);
    }

    #mapa2 {
        background: url('http://galeria.abrsteel.pl/mapa/mapa.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
    }

        #mapa2 a:hover {
            background: url('http://galeria.abrsteel.pl/mapa/mapa1.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #gielda {
        background: url('http://galeria.abrsteel.pl/allegro_gielda.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
    }

        #gielda a:hover {
            background: url('http://galeria.abrsteel.pl/allegro_gielda-h.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }

    #rzetelnosc {
        background: url('http://galeria.abrsteel.pl/rzetelnosc-h.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
    }

        #rzetelnosc a:hover {
            background: url('http://galeria.abrsteel.pl/rzetelnosc.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
        }
</style>

    <div style="position: relative;width:82%;margin:0 auto;">
        <ul class="menu">
            <li><a href="http://abrsteel.pl/">NASZA STRONA</a></li>
            <li><a href="http://allegro.pl/myaccount/favourites/favourites_sellers.php/addNew/?userId=34225303">DODAJ DO ULUBIONYCH</a></li>
            <li><a href="http://abr.na.allegro.pl/">INNE OFERTY</a></li>
            <li><a href="http://abrsteel.pl/kontakt">KONTAKT</a></li>
        </ul>
    </div>
    <div class="body">

        <div id="headerG">



        </div>
        <div id="gorny">

            <div id="lewy_gorny">
                <a href="http://www.abrsteel.pl/Oferta/Kontenery" target=_blank><img style="width:100%;height:100%;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /> </a>
            </div>

            <div id="prawy_gorny">
                <a href="http://www.abrsteel.pl/Oferta/Kontenery" target=_blank><img style="width:100%;height:100%;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /> </a>

            </div>
        </div>
        <div>
            <div class="block_zdj" id="zdj1"><a href="http://galeria.abrsteel.pl/Salon%20Gier/Salon_gier%20(1).JPG"><img style="width:100%;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png"></img></a></div>
            <div class="block_zdj" id="zdj2"><a href="http://galeria.abrsteel.pl/Salon%20Gier/Salon_gier%20(2).JPG"><img style="width:100%;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png"></img></a></div>
            <div class="block_zdj" id="zdj3"><a href="http://galeria.abrsteel.pl/Salon%20Gier/Salon_gier%20(3).JPG"><img style="width:100%;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png"></img></a></div>
            <div class="block_zdj" id="zdj4"><a href="http://galeria.abrsteel.pl/Salon%20Gier/Salon_gier%20(4).JPG"><img style="width:100%;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png"></img></a></div>
        </div>
        <div class="srodkowy">
            <div class="lewy_lewy">
                <center>
                    <table class="arch">
                        <tr>
                            <td id="businessa"><a href="http://www.abrsteel.pl/kontakt" target=_blank><img class="rzut" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png"></a></li>
                        </tr>

                    </table>
                </center>
            </div>
            <div class="lewy_dolny" id="wnetrze">
                <table>
                    <tr>
                        <a href="http://www.abrsteel.pl/kontakt" target=_blank><img style="width:100%;height:400px;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /></a>
                    </tr>

                </table>

            </div>
            <div class="lewy_dolny">
                <br />
                <div id="c_gora">
                    <a href="http://www.abrsteel.pl/Oferta/Kontenery" target=_blank><img style="width:100%;height:185px;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /> </a>
                </div>
                <div id="c_dol">
                    <a href="http://www.abrsteel.pl/Oferta/Kontenery" target=_blank><img style="width:100%;height:185px;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /> </a>
                </div>

            </div>
        </div>
        <div id="dolny">
            <div class="lewy_dolny">
                <br />
                <table class="arch">
                    <tr>
                        <td id="bezp"><a href="http://www.abrsteel.pl/kontakt" target=_blank><img style="width:100%;height:370px" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png"></a></li>
                    </tr>

                </table>


            </div>




        </div>

        <div class="lewy_dolny" id="mapa2">
            <a href="http://www.abrsteel.pl/kontakt" target=_blank><img style="margin:0 auto;width:100%;height:100%;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /> </a>
        </div>
        <div class="lewy_dolny" id="gielda">
            <a href="http://gieldakontenerow.pl" target=_blank><img style="margin:0 auto;width:100%;height:100%;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /> </a>
        </div>

        <div class="lewy_dolny" id="rzetelnosc">
            <a href="http://abrsteel.pl/firma" target=_blank><img style="margin:0 auto;width:100%;height:100%;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /> </a>
        </div>


        <div id="dol">

            <div id="d_gora">

                <a href="mailto:kontenery@abrhandel.pl" target=_blank><img style="margin:0 auto;width:100%;height:100%;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /> </a>
            </div>
            <div id="d_dol">
                <a href="http://www.abrsteel.pl/Oferta/Kontenery" target=_blank><img style="margin:0 auto;width:100%;height:100%;" src="http://galeria.abrsteel.pl/FHRM/Polska-Kopia_zpsd3919a5b.png" /> </a>
            </div>

        </div>

    </div>
